
#login-page {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:#1E2124;
  height: 100vh;
}

#login-logo {
  width: 380px;
  height: 400px;;
}

.input {
 
  background-color: #36393E;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.login-form {
  
}